
header {
    display: flex;
    align-items: center;
}

header > :first-child {
    flex: 1;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

.element {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: flex-start;
}

.element_mid {
    flex-basis: 10%;
}

.element_right {
    flex-basis: 60%;
}

.element_left {
    flex-basis: 30%;
}

.element_left_1 {
    flex-basis: 70%;
}

.element_right_1 {
    flex-basis: 30%;
}

.disable {
    background-color: #dddddd;
    border: 1px solid #cccccc;
    padding: 10px 20px;
    text-decoration: none;
    color: #666666;
    cursor: not-allowed;
    border-radius: 5px;
}

.flex-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}